extends layout.pug

block content
        div.table__container
            table
                thead
                    tr
                        th Belongs To
                        th Trail ID
                        th Visited
                        th Want to visit?
                    tr
                        th Trail Name
                        th Trail Desc
                        th Trail Length
                        th Trail Difficulty
                tbody
                    tr
                        each trail in collectionOfTrails
                            td= trail.user_id
                            td= trail.trail_id
                            td= trail.visited
                            td= trail.want_to_visit
                    tr
                        each specific in specificTrail
                            td= specific.name
                            td= specific.description
                            td= specific.length
                            td= specific.difficulty




            //- put each visited trail here!
