extends layout.pug
//- we have trail, user, review objects

block content
  div.grid-container
    div.trail-banner
      div.trail-img
        img(src=`/images/trail${trail.id}.jpg`).trail
      div.trail-toggles
        button.visited Visited
        button.interested Interested
    div.trail-content
      h1(id=`${trail.id}`, class=`${loggedInUser.id} ${loggedInUser.username}`)= trail.name
      h2= state.state_name
      h3 Distance:
      h3= trail.length
      h2 This trail has a difficulty of:
      h2= trail.difficulty
      p= trail.description
      div.review-open-div
        button.review-open-button.review-button Write Review
      //- Review Container
      div.review-form-container
        //- form
        form.review-form(action=`/reviews/${trail.id}`, method='post')
          textarea.review-text-area(name="reviewText" rows='10' cols='42')
          div.submit-button-container
            button.submit-review.review-button(type="submit") Submit
            button.cancel-review.review-button Cancel
      div.review-display-container
        br
        each review in trail.Reviews
          div.each-review(id=`review-${review.id}-div`)
            p=review.review
            p=`-Reviewed by ${review.User.username}`
            
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/trail.css")
  //- add page specific js
  script(src='/javascripts/trails.js' type='text/javascript')
