extends layout.pug

block content
    //- we have access to trail and state objs
    img(src=`/images/trail${trail.id}.jpg`).trail
    br
    button.visited Visited
    button.interested Interested
    h1(id=`${trail.id}`)= trail.name
    h2= state.state_name
    h3 Distance:
    h3= trail.length
    h2 This trail has a difficulty of:
    h2= trail.difficulty
    p= trail.description
    //- reviews go here
    //- if locals.authenticated
    //-     div.review-form
    //-         p Your Review:
    //-         form(action=`/reviews/${trail.id}`, method='post)
    br
    span=`WHO IS LOGGED IN? ${loggedInUser.username} id:${loggedInUser.id}`
    div.review-container
        br
        each review in trail.Reviews
            div.each-review
                p=review.review
                p=`Reviewed by user ${review.user_id}`

    script(src='/javascripts/trails.js' type='text/javascript')
